@import "../../../styles/abstract/variables.module.scss";

#boxTitleButton {
    margin: 30px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
}

#boxDataGrid {
    margin: 0 10px;
}

#icon {
    color: $primaryColor;
    cursor: pointer;
}

.iconEdit {
    margin-right: 20px;
}

#boxAddTip {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textField {
    max-width: 500px;
    width: 80%;
}

#buttonCreateTip {
    margin: 20px 0 30px 0;
}

#typoWarning {
    font-weight: bold;
}