
#card {
    display: flex;
    cursor: pointer;
}

#image {
    max-height: 100px;
}

#boxSectionTypo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 10px 5px 15px;
}

#boxSubSectionTypo {
}

#typoTitle {
}

#hr {
    margin: 5px 0 5px 0
}