@import "../../abstract/variables.module.scss";

#boxSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(90vh - $minHeightAppBarSmallScreen);
}

#typoTitle {
    margin: 20px 0px 30px 0px;
}

.textField {
    max-width: 500px;
    width: 80%;
}

#boxButton {
    display: flex;
    margin: 20px 0px 40px 0px;
}

#button {
    margin: auto;
}

#boxSelect {
    margin-top: 8px;
}

/* Medium and Large devices (Tablets and laptops/desktops, 600px and up) */
@media only screen and (min-width: 600px) {
    #boxSection {
        height: calc(90vh - $minHeightAppBarWideScreen);
    }
}