#boxSection {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#typoTitle {
    margin: 20px 0px 30px 0px;
}

.textField {
    width: 50%;
}

#boxButton {
    display: flex;
    margin: 20px 0px 40px 0px;
}

#button {
    margin: auto;
}