#boxSection {
    margin: 30px 15% 10px 15%;
}

#typoTitle {
    margin-top: 10px;
}

#typoDescription {
    margin: 30px 0px 30px 0px;
    font-family: "Raleway", cursive;
}

#typoCategory {
    font-family: "Raleway", cursive;
}

#image {
    width: 100%;
}

#boxAuthor {
    display: flex;
    align-items: center;
    margin: 10px 0px 20px 0px;
}

#boxAuthorDate {
    display: flex;
    justify-content: center;
}

#subBoxAuthorDate {
    max-width: 650px;
    width: 100%;
}

#typoAuthor {
    margin-left: 10px;
}

#typoDate {
    margin-bottom: 50px;
}

/* Extra small and Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #boxSection {
        margin-left: 30px;
        margin-right: 30px;
    }
}

/* Medium devices (landscape tablets, between 600px and 768px) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    #boxSection {
        margin-left: 60px;
        margin-right: 60px;
    }
}