@import "../../../styles/abstract/variables.module.scss";

#boxTitleButton {
    margin: 30px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
}

#boxDataGrid {
    margin: 0 10px;
}

#deleteIcon {
    color: $primaryColor;
}