#boxSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px 60px 20px;
}

#typoTitle {
    margin-bottom: 20px;
    text-align: center;
}

#typoQuote {
    text-align: center;
    font-family: "Kalam";
    margin-bottom: 10px;
}