@import '../../abstract/variables.module.scss';

#boxSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(90vh - $minHeightAppBarSmallScreen);
    margin-top: 40px;
}

#typoTitle {
    margin-bottom: 20px; 
}

#boxFormRegister {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#buttonRegister {
    margin: 20px 0 50px 0;
}

/* Medium and Large devices (Tablets and laptops/desktops, 600px and up) */
@media only screen and (min-width: 600px) {
    #boxSection {
        height: calc(90vh - $minHeightAppBarWideScreen);
    }
}