@import '../../abstract/variables.module.scss';

#sectionOne {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $whiteColor;
}

#typoLogo {
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 20px;
}

#subSection {
    padding: 0 30px 0 30px;
    height: 80%;
    display: flex;
}

#subSectionLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 80px;
}

#subSectionRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#boxTitle {
    margin-bottom: 30px;
}

#typoTitle {
    font-size: 25px;
    line-height: 1.4;
}

#typoSubtitle {
    font-size: 15px;
    font-family: "Raleway", cursive;
}

#boxSubtitle {
    margin-bottom: 30px;

}

#boxButton {
    display: flex;
    justify-content: flex-start;
}

#boxButton2 {
    display: flex;
    flex-direction: column;
}

#boxButton2 > .containedButton {
    z-index: 1;
    margin-bottom: 10px;
}

#boxButton2 > .outlinedButton {
    z-index: 1;
}

.illustration {
    width: 30vw;
}

#waves {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: -1px;
}

/* MEDIA QUERIES */

/* DEFAULT */
/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px){
    .illustration {
        width: 65vw;
    }
}

/* Small devices (phones, between 480px and 600px) */
@media only screen and (min-width: 480px) and (max-width: 600px) {
    #typoLogo {
        font-size: 21px;
    }
    
    #typoTitle {
        font-size: 27px;
    }
    
    #typoSubtitle {
        font-size: 16px
    }

    .illustration {
        width: 55vw;
    }
}

/* Extra Small, Small and edium devices (smartphone, portrait tablets and large phones, less than 768px) */
@media only screen and (max-width: 768px) {
    #subSection {
        flex-direction: column;
    }

    #subSectionRight {
        flex-direction: row;
        flex-grow: 1;
        margin-bottom: 30px;
    }
    
    #subSectionLeft {
        flex-grow: 50;
        margin: 0;
    }
}

/* Medium devices (portrait tablets and large phones, between 600px and 768px) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    #typoLogo {
        font-size: 23px;
    }
    
    #typoTitle {
        font-size: 31px;
    }
    
    #typoSubtitle {
        font-size: 17px
    }

    .illustration {
        width: 45vw;
    }
}

/* Large devices (landscape tablets, between 768px and 992px) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    #typoLogo {
        font-size: 25px;
    }
    
    #typoTitle {
        font-size: 35px;
    }
    
    #typoSubtitle {
        font-size: 19px
    }
}

/* Extra large devices (laptops/desktops, between 992px and 1200px) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #typoLogo {
        font-size: 27px;
    }
    
    #typoTitle {
        font-size: 40px;
    }
    
    #typoSubtitle {
        font-size: 22px
    }
}

/* Extra extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #typoLogo {
        font-size: 30px;
    }
    
    #typoTitle {
        font-size: 45px;
    }
    
    #typoSubtitle {
        font-size: 25px
    }
}