#sectionTwo {
    height: 100vh;
    padding: 30px 60px 30px 60px;
    background-color:#5BC0EB;
    display: flex;
    flex-direction: column;
}

#title {
    text-align: center;
}

#boxSubSection {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#boxSubsection1 {
    display: flex;
    margin-bottom: 100px;
    align-items: center;
}

#boxSubsection2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.typoFunctioning {
    font-size: 16px;
}

.illustration1, .illustration2 {
    width: 20vw
}

.illustration1 {
    margin-left: 50px;
}

.illustration2 {
    margin-right: 50px;
}

#boxButton {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containedButton {
    margin-bottom: 10px;
}

/* MEDIA QUERIES */

/* DEFAULT */
/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px){
    #sectionTwo {
        padding-left: 10px;
        padding-right: 10px;
    }

    #boxSubsection1, #boxSubsection2 {
        flex-direction: column;
    }
    
    #boxSubsection1 {
        align-items: flex-end;
        margin-bottom: 40px;
    }

    #boxSubsection2 {
        align-items: flex-start;
    }

    .typoFunctioning {
        padding-left: 30px;
        padding-right: 30px;
    }

    .illustration1, .illustration2 {
        margin: 15px 0 0 0;
        width: 35vw;
    }
}

/* Small devices (phones, between 480px and 600px) */
@media only screen and (min-width: 480px) and (max-width: 600px) {
    .typoFunctioning {
        font-size: 18px;
    }
}

/* Extra Small, Small and edium devices (smartphone, portrait tablets and large phones, less than 768px) */
@media only screen and (max-width: 768px) {
    .typoFunctioning {
        font-size: 20px;
    }
}

/* Medium devices (portrait tablets and large phones, between 600px and 768px) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    
}

/* Large devices (landscape tablets, between 768px and 992px) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .typoFunctioning {
        font-size: 23px;
    }
}

/* Extra large devices (laptops/desktops, between 992px and 1200px) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .typoFunctioning {
        font-size: 27px;
    }
}

/* Extra extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .typoFunctioning {
        font-size: 30px;
    }
}