@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

.MuiButton-root {
  padding: 10px 22px !important;
}

.alice-carousel__stage-item {
  margin: 0 0 10px 0 !important;
}