@import "../../abstract/variables.scss";

$gapSize : 10px;

#sectionQuiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15% 0 15%;
    height: calc(100vh - $minHeightAppBarWideScreen - $heightProgressBar);
}

#typoQuestion {
    text-align: center;
}

#sectionAnswers {
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: $gapSize;
}

#sectionAnswers > * {
    flex-basis: calc(50% - $gapSize);
}

#sectionButton {
    padding-bottom: $minHeightAppBarWideScreen;
}

#iconBackQuestion {
    position: fixed;
    top: 50%;
    left: 20px;
    color: black;
    transform: scale(3);
}

#iconBackQuestion:hover {
    cursor: pointer;
}

/* MEDIA QUERIES */

/* Extra small and small devices (phones, between 600px and down) */
@media only screen and (max-width: 600px) {
    #sectionAnswers > * {
        flex-basis: calc(100% - $gapSize);
    }

    #sectionQuiz {
        height: calc(100vh - $minHeightAppBarSmallScreen - $heightProgressBar);
    }

    #sectionButton {
        padding-bottom: $minHeightAppBarSmallScreen;
    }
}