@import '../../abstract/variables.module.scss';

$gapSizeWideScreen: 20px;
$gapSizeSmallScreen: 10px;
$paddingCard: 20px;


#boxSection {
    padding: $paddingCard;
    background-color: $whiteColor;
}

#typoTitle {
    margin-bottom: 5px;
    text-align: center;
}

#typoSubTitle {
    margin-bottom: 30px;
    text-align: center;
}

#boxSubSection {
    display: flex;
    flex-wrap: wrap;
    gap: $gapSizeWideScreen;
    justify-content: center
}

/* Extra Small, Small and medium devices (smartphone, portrait tablets and large phones, less than 768px) */
@media only screen and (max-width: 768px) {
    #boxSubSection {
        gap: $gapSizeSmallScreen;
    }
}
